In [2]:
import pandas as pd
import glob

Merging OSHA's Summary data Work-Related Injuries and Illnesses that Occurred between 2016-2022

In [7]:
path = '/home/eddy/Documents/OSHA_Injury_data_analysis/merged_dfs'
all_files = glob.glob(path + "/*.csv") 

data_files = []
for file in all_files:
    try:
        df = pd.read_csv(file, encoding='utf-8')
    except UnicodeDecodeError:
        df = pd.read_csv(file, encoding='ISO-8859-1')
    data_files.append(df)

merged_df = pd.concat(data_files, ignore_index=True)
merged_df.to_csv("merged_summary.csv", index=False)

/tmp/ipykernel_30271/2673212556.py:7: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, encoding='utf-8')
/tmp/ipykernel_30271/2673212556.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, encoding='utf-8')

In [3]:
summary_df = pd.read_csv("merged_summary.csv")
summary_df.columns

/tmp/ipykernel_11560/1689300300.py:1: DtypeWarning: Columns (3,26) have mixed types. Specify dtype option on import or set low_memory=False.
  summary_df = pd.read_csv("merged_summary.csv")

Index(['id', 'company_name', 'establishment_name', 'ein', 'street_address',
       'city', 'state', 'zip_code', 'naics_code', 'industry_description',
       'annual_average_employees', 'total_hours_worked',
       'no_injuries_illnesses', 'total_deaths', 'total_dafw_cases',
       'total_djtr_cases', 'total_other_cases', 'total_dafw_days',
       'total_djtr_days', 'total_injuries', 'total_poisonings',
       'total_respiratory_conditions', 'total_skin_disorders',
       'total_hearing_loss', 'total_other_illnesses', 'establishment_id',
       'establishment_type', 'size', 'year_filing_for', 'created_timestamp',
       'change_reason'],
      dtype='object')

Merging the vpp and recert datasets with the merged data.

In [13]:
new_vpp_df = pd.read_excel("NEW VPP.xlsx")
new_vpp_df.head()

           company_name                  city state  year_joined
0           HEB Grocery               Houston    TX         2015
1        ISS Action Inc  Stennis Space Center    MS         2015
2  Safeway Services LLC          Belle Chasse    LA         2015
3               Solvay                 Borger    TX         2015
4     Total Safety IPSC             Old Ocean    TX         2015

In [5]:
recert_vpp_df = pd.read_excel("RECERT VPP.xlsx")
recert_vpp_df.head()

                      company_name        city state  year_recertified
0  Ohio Valley Electrical Services  Cincinnati    OH              2015
1         Playtex Dover Operations       Dover    DE              2015
2                              ABB  New Berlin    WI              2015
3                  Always in Mind    Thibodaux    LA              2015
4       Angelica Textiles Services     Chicago    IL              2015

In [6]:
summary_df['establishment_name'] = summary_df['establishment_name'].str.strip(
).str.lower()
summary_df['city'] = summary_df['city'].str.strip().str.lower()
summary_df['state'] = summary_df['state'].str.strip().str.lower()

In [14]:
new_vpp_df_renamed = new_vpp_df.rename(
    columns={'city': 'city_vpp', 'state': 'state_vpp'})

In [16]:
new_vpp_df_renamed['company_name'] = new_vpp_df_renamed['company_name'].str.strip(
).str.lower()
new_vpp_df_renamed['city'] = new_vpp_df_renamed['city_vpp'].str.strip().str.lower()
new_vpp_df_renamed['state'] = new_vpp_df_renamed['state_vpp'].str.strip(
).str.lower()

In [21]:
merging_results = pd.merge(summary_df, new_vpp_df_renamed,
                            left_on=['establishment_name', 'city', 'state'],
                           right_on=['company_name', 'city_vpp', 'state_vpp'])

In [22]:
merging_results.head()

Empty DataFrame
Columns: [id, company_name_x, establishment_name, ein, street_address, city_x, state_x, zip_code, naics_code, industry_description, annual_average_employees, total_hours_worked, no_injuries_illnesses, total_deaths, total_dafw_cases, total_djtr_cases, total_other_cases, total_dafw_days, total_djtr_days, total_injuries, total_poisonings, total_respiratory_conditions, total_skin_disorders, total_hearing_loss, total_other_illnesses, establishment_id, establishment_type, size, year_filing_for, created_timestamp, change_reason, company_name_y, city_vpp, state_vpp, year_joined, city_y, state_y]
Index: []

[0 rows x 37 columns]

In [12]:
merging_results.to_csv("vpp_sites_merged_revised.csv", index=False)

In [23]:
print(summary_df.dtypes)
print(new_vpp_df.dtypes)

id                              float64
company_name                     object
establishment_name               object
ein                              object
street_address                   object
city                             object
state                            object
zip_code                        float64
naics_code                      float64
industry_description             object
annual_average_employees        float64
total_hours_worked              float64
no_injuries_illnesses           float64
total_deaths                    float64
total_dafw_cases                float64
total_djtr_cases                float64
total_other_cases               float64
total_dafw_days                 float64
total_djtr_days                 float64
total_injuries                  float64
total_poisonings                float64
total_respiratory_conditions    float64
total_skin_disorders            float64
total_hearing_loss              float64
total_other_illnesses           float64
establishment_id                float64
establishment_type               object
size                            float64
year_filing_for                 float64
created_timestamp                object
change_reason                    object
dtype: object
company_name    object
city            object
state           object
year_joined      int64
dtype: object

In [30]:
merging_results2 = pd.merge(summary_df, new_vpp_df_renamed,
                           left_on=['establishment_name'],
                           right_on=['company_name'])
merging_results2.head()

,id,company_name_x,establishment_name,ein,street_address,city_x,state_x,zip_code,naics_code,industry_description,...,size,year_filing_for,created_timestamp,change_reason,company_name_y,city_vpp,state_vpp,year_joined,city_y,state_y
0,1090938.0,J&J Snack Foods Corp,mia products,NaN,4 Rocky Glen Road,moosic,pa,18507.0,311520.0,Frozen desserts (except bakery) manufacturing,...,2.0,2020.0,1/4/2021 20:54:12,NaN,mia products,Moosic,PA,2020,moosic,pa
1,1455.0,J&J Snack Foods Corp,mia products,NaN,4 Rocky Glen Road,moosic,pa,18507.0,311520.0,Frozen desserts (except bakery) manufacturing,...,2.0,2016.0,8/2/2017 11:07:00,NaN,mia products,Moosic,PA,2020,moosic,pa
2,1434983.0,J&J Snack Foods Corp,mia products,NaN,4 Rocky Glen Road,moosic,pa,18507.0,311520.0,Frozen desserts (except bakery) manufacturing,...,2.0,2021.0,1/12/2022 21:31:10,NaN,mia products,Moosic,PA,2020,moosic,pa
3,217017.0,J&J Snack Foods Corp,mia products,NaN,4 Rocky Glen Road,moosic,pa,18507.0,311520.0,Frozen desserts (except bakery) manufacturing,...,2.0,2017.0,1/10/2018 9:35:23,NaN,mia products,Moosic,PA,2020,moosic,pa
4,791110.0,J&J Snack Foods Corp,mia products,NaN,4 Rocky Glen Road,moosic,pa,18507.0,311520.0,Frozen desserts (except bakery) manufacturing,...,2.0,2019.0,1/6/2020 15:09:48,NaN,mia products,Moosic,PA,2020,moosic,pa

In [31]:
merging_results2.to_csv("second_vpp_sites.csv", index=False)

In [9]:
merging_results2.to_csv("vpp_merged2.csv", index=False)

Recertified merging

In [32]:
recert_vpp_df = pd.read_excel("RECERT VPP.xlsx")
recert_vpp_df.head()

                      company_name        city state  year_recertified
0  Ohio Valley Electrical Services  Cincinnati    OH              2015
1         Playtex Dover Operations       Dover    DE              2015
2                              ABB  New Berlin    WI              2015
3                  Always in Mind    Thibodaux    LA              2015
4       Angelica Textiles Services     Chicago    IL              2015

In [33]:
recert_vpp_df['company_name'] = recert_vpp_df['company_name'].str.strip(
).str.lower()
recert_vpp_df['city'] = recert_vpp_df['city'].str.strip().str.lower()
recert_vpp_df['state'] = recert_vpp_df['state'].str.strip().str.lower()

In [34]:
recert_merged_results = pd.merge(recert_vpp_df, summary_df,
                            left_on=['company_name'],
                            right_on=['establishment_name'],
                            suffixes=("_vpp", "_summary"))
recert_merged_results.head()

,company_name_vpp,city_vpp,state_vpp,year_recertified,id,company_name_summary,establishment_name,ein,street_address,city_summary,...,total_respiratory_conditions,total_skin_disorders,total_hearing_loss,total_other_illnesses,establishment_id,establishment_type,size,year_filing_for,created_timestamp,change_reason
0,ohio valley electrical services,cincinnati,oh,2015,1563239.0,Ohio Valley Electrical Services,ohio valley electrical services,10706901.0,4585 Cornel Rd,cincinnati,...,0.0,0.0,0.0,0.0,837583.0,1.0,2.0,2021.0,2/16/2022 16:58:13,NaN
1,ohio valley electrical services,cincinnati,oh,2015,1943672.0,Ohio Valley Electrical Services,ohio valley electrical services,10706901,4585 Cornel Rd,cincinnati,...,0.0,0.0,0.0,0.0,837583.0,1.0,2.0,2022.0,2/20/2023,NaN
2,abb,new berlin,wi,2015,1108479.0,ABB,abb,430168840.0,5711 R S Boreham Jr Street,fort smith,...,0.0,0.0,0.0,1.0,653845.0,1.0,3.0,2020.0,1/19/2021 17:40:21,NaN
3,abb,new berlin,wi,2015,1239450.0,ABB,abb,363100018.0,860 Ridge Lake Blvd,memphis,...,0.0,0.0,0.0,0.0,688188.0,1.0,3.0,2020.0,2/22/2021 17:23:42,NaN
4,abb,new berlin,wi,2015,206207.0,Thomas & Betts,abb,NaN,5601 East Highland,jonesboro,...,0.0,0.0,0.0,0.0,261683.0,1.0,3.0,2016.0,12/22/2017 14:51:03,NaN

In [35]:
recert_merged_results.to_csv("recertified_sites.csv", index=False)

New merging of datasets

In [70]:
new_vpp_df = pd.read_excel("NEW VPP.xlsx")
new_vpp_df.head()

           company_name                  city state  year_joined
0           HEB Grocery               Houston    TX         2015
1        ISS Action Inc  Stennis Space Center    MS         2015
2  Safeway Services LLC          Belle Chasse    LA         2015
3               Solvay                 Borger    TX         2015
4     Total Safety IPSC             Old Ocean    TX         2015

In [71]:
recert_vpp_df = pd.read_excel("RECERT VPP.xlsx")
recert_vpp_df.head()

                      company_name        city state  year_recertified
0  Ohio Valley Electrical Services  Cincinnati    OH              2015
1         Playtex Dover Operations       Dover    DE              2015
2                              ABB  New Berlin    WI              2015
3                  Always in Mind    Thibodaux    LA              2015
4       Angelica Textiles Services     Chicago    IL              2015

Merging with the summary df

In [72]:
new_vpp_df['company_name'] = recert_df['company_name'].str.lower()
recert_vpp_df['company_name'] = recert_df['company_name'].str.lower()
summary_df['establishment_name'] = summary_df['establishment_name'].str.lower(
)
# new_vpp_df['city'] = recert_df['city'].str.lower().str.strip()
# new_vpp_df['state'] = recert_df['state'].str.lower().str.strip()
# summary_df['city'] = recert_df['city'].str.lower().str.strip()
# summary_df['state'] = recert_df['state'].str.lower().str.strip()

In [20]:
summary_df.columns

Index(['id', 'company_name', 'establishment_name', 'ein', 'street_address',
       'city', 'state', 'zip_code', 'naics_code', 'industry_description',
       'annual_average_employees', 'total_hours_worked',
       'no_injuries_illnesses', 'total_deaths', 'total_dafw_cases',
       'total_djtr_cases', 'total_other_cases', 'total_dafw_days',
       'total_djtr_days', 'total_injuries', 'total_poisonings',
       'total_respiratory_conditions', 'total_skin_disorders',
       'total_hearing_loss', 'total_other_illnesses', 'establishment_id',
       'establishment_type', 'size', 'year_filing_for', 'created_timestamp',
       'change_reason'],
      dtype='object')

In [73]:
new_merging_results = pd.merge(new_vpp_df, summary_df,
                               left_on=['company_name'],
                               right_on=['establishment_name'],
                            suffixes=("_vpp", "_summary"))

In [30]:
summary_df1 = summary_df.rename(columns={'establishment_name': 'company_name'}, inplace=True)

In [74]:
new_merging_results.head()

,company_name_vpp,city_vpp,state_vpp,year_joined,id,company_name_summary,establishment_name,ein,street_address,city_summary,...,total_respiratory_conditions,total_skin_disorders,total_hearing_loss,total_other_illnesses,establishment_id,establishment_type,size,year_filing_for,created_timestamp,change_reason
0,ohio valley electrical services,Houston,TX,2015,1563239.0,Ohio Valley Electrical Services,ohio valley electrical services,10706901.0,4585 Cornel Rd,NaN,...,0.0,0.0,0.0,0.0,837583.0,1.0,2.0,2021.0,2/16/2022 16:58:13,NaN
1,ohio valley electrical services,Houston,TX,2015,1943672.0,Ohio Valley Electrical Services,ohio valley electrical services,10706901,4585 Cornel Rd,NaN,...,0.0,0.0,0.0,0.0,837583.0,1.0,2.0,2022.0,2/20/2023,NaN
2,abb,Belle Chasse,LA,2015,1108479.0,ABB,abb,430168840.0,5711 R S Boreham Jr Street,NaN,...,0.0,0.0,0.0,1.0,653845.0,1.0,3.0,2020.0,1/19/2021 17:40:21,NaN
3,abb,Belle Chasse,LA,2015,1239450.0,ABB,abb,363100018.0,860 Ridge Lake Blvd,NaN,...,0.0,0.0,0.0,0.0,688188.0,1.0,3.0,2020.0,2/22/2021 17:23:42,NaN
4,abb,Belle Chasse,LA,2015,206207.0,Thomas & Betts,abb,NaN,5601 East Highland,NaN,...,0.0,0.0,0.0,0.0,261683.0,1.0,3.0,2016.0,12/22/2017 14:51:03,NaN

In [61]:
new_merging_results.to_csv("new_merging_results2.csv", index=False)