In [1]:
import pandas as pd
import glob

Merging OSHA's Summary data Work-Related Injuries and Illnesses that Occurred between 2016-2022

In [7]:
path = '/home/eddy/Documents/OSHA_Injury_data_analysis/merged_dfs'
all_files = glob.glob(path + "/*.csv") 

data_files = []
for file in all_files:
    try:
        df = pd.read_csv(file, encoding='utf-8')
    except UnicodeDecodeError:
        df = pd.read_csv(file, encoding='ISO-8859-1')
    data_files.append(df)

merged_df = pd.concat(data_files, ignore_index=True)
merged_df.to_csv("merged_summary.csv", index=False)

/tmp/ipykernel_30271/2673212556.py:7: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, encoding='utf-8')
/tmp/ipykernel_30271/2673212556.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, encoding='utf-8')

In [2]:
vpp_df = pd.read_excel("new_vpp.xlsx")
vpp_df.head()

           company_name                  city state  year_joined
0           HEB Grocery               Houston    TX         2015
1        ISS Action Inc  Stennis Space Center    MS         2015
2  Safeway Services LLC          Belle Chasse    LA         2015
3               Solvay                 Borger    TX         2015
4     Total Safety IPSC             Old Ocean    TX         2015

In [3]:
recert_df = pd.read_excel("recert_vpp.xlsx")
recert_df.head()

                      company_name        city state  year_recertified
0  Ohio Valley Electrical Services  Cincinnati    OH              2015
1         Playtex Dover Operations       Dover    DE              2015
2                              ABB  New Berlin    WI              2015
3                  Always in Mind    Thibodaux    LA              2015
4       Angelica Textiles Services     Chicago    IL              2015

In [4]:
summary_df = pd.read_csv("merged_summary.csv")
summary_df.columns

/tmp/ipykernel_164016/1689300300.py:1: DtypeWarning: Columns (3,26) have mixed types. Specify dtype option on import or set low_memory=False.
  summary_df = pd.read_csv("merged_summary.csv")

Index(['id', 'company_name', 'establishment_name', 'ein', 'street_address',
       'city', 'state', 'zip_code', 'naics_code', 'industry_description',
       'annual_average_employees', 'total_hours_worked',
       'no_injuries_illnesses', 'total_deaths', 'total_dafw_cases',
       'total_djtr_cases', 'total_other_cases', 'total_dafw_days',
       'total_djtr_days', 'total_injuries', 'total_poisonings',
       'total_respiratory_conditions', 'total_skin_disorders',
       'total_hearing_loss', 'total_other_illnesses', 'establishment_id',
       'establishment_type', 'size', 'year_filing_for', 'created_timestamp',
       'change_reason'],
      dtype='object')

Merging the vpp and recert datasets with the merged data.

In [5]:
summary_df['establishment_name'] = summary_df['establishment_name'].str.lower().str.strip()
vpp_df['company_name'] = vpp_df['company_name'].str.lower().str.strip()
recert_df['company_name'] = recert_df['company_name'].str.lower().str.strip()

In [16]:
merging_results = pd.merge(summary_df, vpp_df,
                            left_on=['establishment_name'],
                            right_on=['company_name'],
                            suffixes=("_summary", "_vpp"))

In [17]:
merging_results.head()

,id,company_name_summary,establishment_name,ein,street_address,city_summary,state_summary,zip_code,naics_code,industry_description,...,establishment_id,establishment_type,size,year_filing_for,created_timestamp,change_reason,company_name_vpp,city_vpp,state_vpp,year_joined
0,1090938.0,J&J Snack Foods Corp,mia products,NaN,4 Rocky Glen Road,Moosic,PA,18507.0,311520.0,Frozen desserts (except bakery) manufacturing,...,43883.0,1.0,2.0,2020.0,1/4/2021 20:54:12,NaN,mia products,Moosic,PA,2020
1,1455.0,J&J Snack Foods Corp,mia products,NaN,4 Rocky Glen Road,Moosic,PA,18507.0,311520.0,Frozen desserts (except bakery) manufacturing,...,43883.0,1.0,2.0,2016.0,8/2/2017 11:07:00,NaN,mia products,Moosic,PA,2020
2,1434983.0,J&J Snack Foods Corp,mia products,NaN,4 Rocky Glen Road,Moosic,PA,18507.0,311520.0,Frozen desserts (except bakery) manufacturing,...,43883.0,1.0,2.0,2021.0,1/12/2022 21:31:10,NaN,mia products,Moosic,PA,2020
3,217017.0,J&J Snack Foods Corp,mia products,NaN,4 Rocky Glen Road,Moosic,PA,18507.0,311520.0,Frozen desserts (except bakery) manufacturing,...,43883.0,1.0,2.0,2017.0,1/10/2018 9:35:23,NaN,mia products,Moosic,PA,2020
4,791110.0,J&J Snack Foods Corp,mia products,NaN,4 Rocky Glen Road,Moosic,PA,18507.0,311520.0,Frozen desserts (except bakery) manufacturing,...,43883.0,1.0,2.0,2019.0,1/6/2020 15:09:48,NaN,mia products,Moosic,PA,2020

In [18]:
merging_results.to_csv("vpp_merged_revised.csv", index=False)

In [19]:
merging_recert = pd.merge(summary_df, recert_df,
                           left_on=['establishment_name'],
                           right_on=['company_name'],
                           suffixes=("_summary", "_recert"))

In [20]:
merging_recert.head()

,id,company_name_summary,establishment_name,ein,street_address,city_summary,state_summary,zip_code,naics_code,industry_description,...,establishment_id,establishment_type,size,year_filing_for,created_timestamp,change_reason,company_name_recert,city_recert,state_recert,year_recertified
0,1090853.0,Honeywell,honeywell,222640650.0,4805 mohave Airport dr,Kingman,AZ,86409.0,336413.0,Aircraft brakes manufacturing,...,310158.0,1.0,2.0,2020.0,1/4/2021 19:52:09,NaN,honeywell,Freeport,IL,2015
1,1146854.0,Honeywell,honeywell,222640650.0,1349 Moffett Park Drive,Sunnyvale,CA,94089.0,334413.0,Wafers (semiconductor devices) manufacturing,...,88561.0,1.0,2.0,2020.0,1/29/2021 18:12:50,NaN,honeywell,Freeport,IL,2015
2,1219324.0,Honeywell,honeywell,NaN,550 State Route 55,Urbana,OH,43078.0,336413.0,"Aircraft assemblies, subassemblies, and parts...",...,681501.0,1.0,3.0,2020.0,2/17/2021 13:22:30,NaN,honeywell,Freeport,IL,2015
3,1219372.0,Honeywell,honeywell,222640650.0,315 E Stephenson Street,Freeport,IL,61032.0,335931.0,Automotive electrical switches manufacturing,...,681580.0,1.0,3.0,2020.0,2/17/2021 13:40:37,NaN,honeywell,Freeport,IL,2015
4,1431745.0,Honeywell,honeywell,222640650.0,4805 mohave Airport dr,Kingman,AZ,86409.0,336413.0,Aircraft brakes manufacturing,...,310158.0,1.0,2.0,2021.0,1/10/2022 23:48:42,NaN,honeywell,Freeport,IL,2015

In [21]:

merging_recert.to_csv("recert_merged_revised.csv", index=False)

In [6]:
merging_results2 = pd.merge(vpp_df, summary_df, 
                            left_on=['company_name'],
                            right_on=['establishment_name'],
                            suffixes=("_vpp", "_summary"))

In [8]:
merging_results2.head()

,company_name_vpp,city_vpp,state_vpp,year_joined,id,company_name_summary,establishment_name,ein,street_address,city_summary,...,total_respiratory_conditions,total_skin_disorders,total_hearing_loss,total_other_illnesses,establishment_id,establishment_type,size,year_filing_for,created_timestamp,change_reason
0,ge healthcare,Jupiter,FL,2015,1108012.0,Thompson Construction Group Inc,ge healthcare,570836917.0,3001 W Radio Dr,Florence,...,0.0,0.0,0.0,0.0,472707.0,1.0,2.0,2020.0,1/19/2021 16:14:10,NaN
1,ge healthcare,Jupiter,FL,2015,1444344.0,Thompson Construction Group Inc,ge healthcare,570836917.0,3001 W Radio Dr,Florence,...,0.0,0.0,0.0,0.0,472707.0,1.0,2.0,2021.0,1/19/2022 13:28:51,NaN
2,ge healthcare,Jupiter,FL,2015,904539.0,GE Healthcare,ge healthcare,842037498.0,14 Walkup Dr,Westborough,...,0.0,0.0,0.0,1.0,569820.0,1.0,2.0,2019.0,2/18/2020 16:07:59,NaN
3,ge healthcare,Jupiter,FL,2015,1783181.0,Thompson Construction Group Inc,ge healthcare,570836917.0,3001 W Radio Dr,Florence,...,0.0,0.0,0.0,0.0,472707.0,1.0,2.0,2022.0,1/18/2023,NaN
4,ge healthcare,Troy,NY,2015,1108012.0,Thompson Construction Group Inc,ge healthcare,570836917.0,3001 W Radio Dr,Florence,...,0.0,0.0,0.0,0.0,472707.0,1.0,2.0,2020.0,1/19/2021 16:14:10,NaN

In [9]:
merging_results2.to_csv("vpp_merged2.csv", index=False)